@charset "UTF-8"; /* Isso é uma regra. Regras são sempre no início do CSS */

body {
    background-color: lightskyblue;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: mediumblue;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}