@charset "UTF-8";

/* 
    ID = #
    CLASS = .
*/

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}

.basico {
    font-style: italic;
    text-decoration: underline;
}

.intermediario {
    font-weight: bold;
    text-decoration: overline;
}

.avancado {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline overline;
}